body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #dad8e7;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
  align-items: center;
  margin-top: -8px;
  background-color: peachpuff;
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-bottom: 8px;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  padding: 10px 15px;
  font-size: 17px;
  color: black;
  background-color: #ffdab9;
  margin: 5px;
}

.logout-btn {
  border-style: none;
  font-size: 17px;
  background-color: #ffdab9;
  height: 90%;
  width: 90%;
}

.logout-btn:hover {
  background-color: darkslateblue;
  color: white;
  cursor: pointer;
}

.main-container {
  display: flex;
}

.left-bar {
  height: 100vh;
  width: 300px;
  background-color: darkslateblue;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.chats-title-container {
  align-content: center;
  text-align: center;
  position: relative;
}

.chats-title {
  color: white;
  text-align: center;
  display: inline-block;
}

.add-chat-btn {
  display: inline-block;
  background-color: darkslateblue;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border: 2px;
  border-style: solid;
  border-color: darkslateblue;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 60px;
}

.add-chat-btn:hover {
  background-color: #a39ec5;
  cursor: pointer;
}

.chat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}

.chat-link {
  text-decoration: none;
  color: black;
}

.chat-link:hover {
  color: white;
}

.chat-item {
  display: block;
  width: 98%;
  height: 80px;
  background-color: peachpuff;
  color: black;
  align-content: center;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: darkslateblue;
  position: relative;
  text-decoration: none;
}
.chat-item:hover {
  background-color: darkslateblue;
  cursor: pointer; 
}

.chat-info {
  padding-top: 10px;
}


.remove-btn {
  position: absolute;
  height: 21px;
  width: 21px;
  top: 4px;
  right: 3px;
  background-color: darkslateblue;
  border-style: solid;
  border-color: darkslateblue;
  border-radius: 50%;
  border: 2px;
  color: white;
}

.remove-btn:hover {
  background-color: darkslateblue;
}

.start-chat-modal-box {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
}

.inner-modal-box {
  margin-top: 75px;
  margin-left: 500px;
  width: 525px;
  height: 150px;
  position: relative;
  padding: 15px;
  background-color: #dad8e7;
  border-style: solid;
  border-color: darkslateblue;
  border-width: 4px;
}

.close-modal-box-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border-style: none;
  background-color: darkslateblue;
  color: white;
}

.close-modal-box-btn:hover {
  background-color: #918ab9;
  color: black;
}

.start-chat-title {
  text-align: center;
  margin-top: 10px;
}

.chat-form-container {
  margin-left: 160px;
  position: relative;
}

.chat-input-flexbox {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  height: 50px
}

.ptcp-name {
  width: 200px;
}

#chat-name {
  width: 200px;
}

.ptpc-button {
  border-radius: 50%;
}

.ptcp-button.add {
  position: fixed;
  top: 237px;
  right: 523px;
  border-radius: 50%;
  border-style: none;
  background-color: darkslateblue;
  color: white;
  font-size: 18px;
  height: 24px;
  width: 24px;
}

.ptcp-button.add:hover {
  background-color: #918ab9;
  color: black;
}

.ptcp-button.sub {
  position: fixed;
  top: 237px;
  right: 498px;
  border-radius: 50%;
  border-radius: 50%;
  border-style: none;
  background-color: darkslateblue;
  color: white;
  font-size: 18px;
  height: 24px;
  width: 24px;
}

.ptcp-button.sub:hover {
  background-color: #918ab9;
  color: black;
}

a.logo {
    text-decoration: none;
    color: black;
}

table {
  width: 100%;
  text-align: left;
}

label {
  padding: 5px;
}

.login-label {
  display: inline-block;
  width: 100px;

}

.register-label {
  display: inline-block;
  width: 150px;
}

.link {
  text-decoration: none;
  color: black;
}

.bottom-rounded-box {
  background-color: #DCDCDC;
  border-left: 7px solid #4169E1;
  border-right: 7px solid #4169E1;
  border-bottom: 7px solid #4169E1;
  border-radius: 25px;
  margin-left: 20px;
  overflow: scroll;
}

.submit-button {
  visibility: hidden;
  display: none;
}

.chat-table {
  width: 400px;
}

.input-title {
  display: inline-block;
  margin-right: 5px;
}

.register-div {
  margin-left: 550px;
  text-align: left;
}

#submit-registration {
  margin-top: 5px;
  margin-left: 5px;

}

#login-title {
  margin-top: 50px;
  text-align: center;
}

#home-link {
  float: left;
}

#username {
  margin-right: 15px;
}

#my-chats {
  height: 200px;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}


#message-log {
  height: 200px;
  width: 400px;
  padding: 50px;
  margin-right: 100px;
}

#new-message-box {
  height: 50px;
  width: 400px;
  padding: 25px 50px;
}

#message-input {
  background-color: white;
  height: 20px;
  width: 385px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  font-size: 16px
}

#message-author {
  margin-bottom: 5px;
}

#message-content {
  text-align: left;
  padding: 5px;
  border: 2px solid #4169E1;
  border-radius: 5px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

#message-timestamp {
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
}
/*
#ptcp-list {
  height: 140px;
  width: 80px;
  float: left;
  margin-left: 180px;
  display: inline-table;
  padding-top: 8px;
  padding-bottom: 27px;
  padding-right: 20px;
  padding-left: 15px;
  background-color: #DCDCDC;
  border: 6px solid #4169E1;
  border-radius: 30px;
}
*/