
a:hover {
  background: #B0C4DE;
}

table {
  width: 100%;
  text-align: left;
}

.nav-bar {
  margin: 10px;

}

.container-title {
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.top-box {
  background-color: #DCDCDC;
  border: 7px solid #4169E1;
  border-radius: 25px;
  margin-left: 460px;
  overflow: scroll;
}

.bottom-box {
  background-color: #DCDCDC;
  border-left: 7px solid #4169E1;
  border-right: 7px solid #4169E1;
  border-bottom: 7px solid #4169E1;
  border-radius: 25px;
  margin-left: 460px;
  overflow: scroll;
}

.submitButton {
  visibility: hidden;
}

.chat-title {
  text-align: center;
}

#home-link {
  float: left;
  margin-left: 5px;
}

#logout {
  float: right;
}

#start-chat {
  height: 80px;
  width: 400px;
  padding-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
}

#my-chats {
  height: 200px;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

#message-log {
  height: 200px;
  width: 400px;
  padding: 50px;
  margin-right: 100px;
}

#new-messages {
  height: 50px;
  width: 400px;
  padding: 25px 50px;
}

#message-input {
  background-color: white;
  height: 20px;
  width: 385px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  font-size: 16px
}

#login-alert {
  font-size: 18px;
  text-align: center;
}

#login-link {
  font-size: 18px;
}

#enter-user {
  height: 25px;
  font-size: 15px;
}

#home-title {
  text-align: center;
}

#col-title {
  font-size: 17px;
}

#ptc-name, #chat-name {
  width: 170px;
  height: 22px;
  font-size: 14px;
}

#add-ptc-button {
  height: 27px;
}

#extra-ptcs {
  display: table;
  margin-left: 183px;
  width: 170px;
  height: 20px;
}

#submit-forms {
  display: none;
}

#author-par {
  margin-bottom: 5px;
}

#message {
  text-align: left;
  padding: 5px;
  border: 2px solid #4169E1;
  border-radius: 5px;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

#timestamp {
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
}

#ptc-list {
  height: 140px;
  float: left;
  margin-left: 180px;
  display: inline-table;
  padding: 15px;
  padding-right: 20px;
  background-color: #DCDCDC;
  border: 6px solid #4169E1;
  border-radius: 30px;
}
